/* .header {
    display: flex;
    justify-content: space-between;
    border: 1px solid saddlebrown;
}

.logo {
    width: 100%;
    height: 100%;
}

.nav-items > ul {
    display: flex;
    font-size: 18px;
    list-style-type: none;
}

.nav-items > ul > li {
    padding: 10px;
    margin : 10px;
}

.login-btn{
    padding: 20px;
    cursor: pointer;
}

.btn{
 padding: 20px;
}

.search {
    padding: 10px;
}

.res-card {
    padding: 5px;
    margin: 10px;
    width: 190px;
}

.res-card:hover {
    border: 1px solid orangered;
    cursor: pointer;
}

.res-logo {
    width: 100%;
}

.res-container {
    display: flex;
    flex-wrap: wrap;
}

.shimmer-container{
    display: flex;
    flex-wrap: wrap;
}

.shimmer-card {
    margin: 20px;
    width: 180px;
    height: 400px;
    background-color: #f0f0f080;
} */

@tailwind base;
@tailwind components;
@tailwind utilities;